body {
    background-image: url("bground.png");
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
    background-color: rgb(0, 31, 32);
}

h1 {
    color: rgb(25, 56, 58);
    margin: auto;
}

.sonohead {
    background-color: #F6CECE;
    color: #0B3861;
    border: 5px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    width: fit-content;
    text-align: center;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #0B3861;
    background-color: #F6CECE;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 9px #9f9191;
    margin: 20px;
}

.button:hover {
    background-color: rgb(179, 93, 93);
}

.button:active {
    background-color: #7c4646;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}